# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist
/tmp
/build

# misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.prettierrc
.env # Agrega esto si planeas usar archivos .env para configuración
.env.*.local # Para archivos de entorno locales
